*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif ;
}
body{
	font-family: 'Poppins' !important;

}
/*start footer*/
.mailchimp {
  padding-top: 65px;
  padding-bottom: 40px;
  background: #F5F5F5;
}
.mailchimp .media {
  overflow: visible;
}

.mailchimp .media .media-object {
  position: relative;
  top: -10px; 
}

.main-footer-sub {
  padding-top: 10px;
  padding-bottom: 30px; 
}

.subcribe-form {
  position: relative; 
}
.subcribe-form .form-control 
{
  height: 55px;
  line-height: 53px;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #D7DCE3; 
}
.subcribe-form input[type="submit"] 
{
  border: none;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  line-height: 55px;
  color: #FFF;
  background: #5191FA;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;
  text-transform: uppercase; 
}

#description-tab img 
{
  max-width: 100%; 
}

.fs-28 h2 

{
  font-size: 28px; 
}


.f24 {
  font-size: 24px !important;
}
.f16 {
  font-size: 16px !important;
}
.c-grey {
  color: #5E6D77 !important;
}
#footer_content
{
 padding-top: 61.3px;
 padding-left: 40px;
 min-height: 450px;
}
#footer_content .footer_content_header
{

  font-size: 14px;
  color: #1A2B48;
  font-weight: 500;
}
#footer_content .footer_content_element 
{
  border-left: 3px solid #5191FA ;
  margin-top: 20px;
}
 .footer_content_element  h4{
  font-size: 18px; 
  color: #1A2B48 ;
   padding-left: 15px; 
}

.footer_content_element p span{
  padding-left: 15px;
}
#footer_content .footer_content_element .footer_content_element1
{
  
  font-size: 14px;
  color: #5E6D77;
  padding-left: 15px;
}
#footer_content .footer_content1_element 
{
 margin-top: 20px;
}
#footer_content .footer_content1_element .footer_content1_element1
{
  
 font-size: 14px;
 color: #1A2B48 ;
}
#footer_content .footer_content1_element .footer_content1_element1 a{
  color: #1A2B48;
}
.footer_content_list .footer_content1_element p{
  font-size: 14px;
  color: #5E6D77;
}
.footer_content_list .footer_content1_element .footer_content1_element1 select{
  width: 180px;
   height: 40px; 
   border-radius: 4px;
   background:white;
}
.footer_sub
{
 border-top: 1px solid #DDDDDD;
}
.footer_sub .footer_sub_L 
{
 padding-top: 30px;
 font-size: 15px; 
 color: #768092;
 padding-left: 25px;
}
.footer_sub .footer_sub_R 
{
 padding-top: 20px;
}
.footer_sub .footer_sub_R  span{
  margin-left: 15px; 
  margin-top: 15px;

}

/*end footer*/
/*start header*/

/*end header*/