.st-upload-gallery .st-thumb{
 margin-right: 10px;
 position: relative;
 z-index: 999;
}
.st-upload-gallery .time{
 position: absolute;
 margin-left:-10px ;
 z-index: 999;
 cursor: pointer;
 background-color: #ce0122;
 color: white;
 font-size: 15px;
}
.st-include-image i.fas.fa-times {
    position: absolute;
    /* right: 70px; */
    /* left: 450px; */
    /* z-index: 999; */
    margin-left: -13px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    display: inline-block;
}
.st-include-image img {
	position: relative;
}
.st-include-image .item{
    display: inline-block;
}
.wp-list-table img{
    width: 120px;
    height: auto;
}
.wp-list-table #the-list i{
    font-size: 25px;
}
